<footer>
  <div class="footer-message container">
    <div class="footer-message__message text-center">
      <h5>Thank You</h5>
      <p>
        <a href="https://pokeapi.co/">PokeAPI.co</a>, and
        <a href="https://github.com/fanzeyi/pokemon.json">Fanzeyi</a> for the
        data used. This is <strong>NOT</strong> an affiliated website.
      </p>
    </div>
  </div>
</footer>
