<header>
  <div class="header-cams container align-items-center mb-2">
    <div class="cams row justify-content-between">
      <div class="main-cam col-4">
        <a href="/">
          <div class="main-cam_blue"></div>
        </a>
      </div>

      <div class="sub-cams d-flex align-items-center">
        <div class="sub-cams_red"></div>
        <div class="sub-cams_yellow"></div>
        <div class="sub-cams_green"></div>
      </div>
    </div>
  </div>
</header>
