<header>
  <div class="header-cams container align-items-center mb-2">
    <div class="cams row justify-content-between">
      <div class="main-cam col-5">
        <div class="input-group flex-nowrap mt-3">
          <input
            type="text"
            id="poke-search"
            class="form-control"
            onkeyup="searchPokemon()"
            placeholder="Search"
          />
          <div class="input-group-append">
            <span class="mt-3"
              ><img src="/images/search-icon.svg" alt=""
            /></span>
          </div>
        </div>
      </div>

      <div class="sub-cams d-flex align-items-center">
        <div class="sub-cams_red"></div>
        <div class="sub-cams_yellow"></div>
        <div class="sub-cams_green"></div>
      </div>
    </div>
  </div>
</header>
