@import "types.css";
body {
  font-family: "Exo 2", sans-serif;
}

header {
  border-bottom: 3px solid black;
  margin-bottom: 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

header,
footer {
  background-color: #ff0000;
}
a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: #3b4cca;
}

.header-cams {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.main-cam_blue {
  background: #73e9e5;
  border: 6px solid white;
  border-radius: 100px;
  height: 70px;
  width: 70px;
  margin-left: 20px;
}

.sub-cams_red,
.sub-cams_yellow,
.sub-cams_green {
  border: 1.8px solid black;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  margin: 0 0.3rem;
}
.sub-cams_red {
  background: #d20000;
}
.sub-cams_yellow {
  background: #f9f476;
}
.sub-cams_green {
  background: #117e09;
}

.input-group.flex-nowrap.mt-3 {
  background-color: seashell;
  border-radius: 13px;
  border: 4px solid black;
  padding: 0px 12px;
}
input#poke-search::placeholder {
  font-weight: bold;
  color: black;
}

/* bouncing animation on pokedex hover */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.pokedex-card:hover {
  animation: bounce 0.17s;
  animation-direction: alternate;
  animation-iteration-count: 4;
}

.pokedex > li {
  list-style: none;
}

img.poke-info-image {
  width: 65%;
  max-width: 320px;
}

.damages {
  display: inline-flex;
  margin: 0.5rem;
}

.damage-list {
  display: inline;
}

footer {
  border-top: 3px solid black;
}

.footer-message {
  padding: 0.5rem;
}

.footer-message__message {
  margin: 0 auto;
  width: 45%;
  border: 5px solid black;
  border-radius: 5px;
  background: #79ad75;
  color: white;
}

.evolution-up-arrow {
  display: none;
}

@media only screen and (max-width: 768px) {
  input#poke-search::placeholder {
    font-size: 3vw;
  }
  .evolution-right-arrow {
    display: none;
  }
  .evolution-up-arrow {
    display: block;
  }
}
