<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="container">
    <%- include('../partials/header') %>
    <p>index</p>
    <%- include('../partials/footer')%>
  </body>
</html>
